version: '3.1'
services:
  kube:
    build:
      context: kube/
    restart: always
    tty: true
    privileged: true
    network_mode: host
    cap_add:
      - ALL
    volumes:
      - /lib/modules:/lib/modules
      - kubernetes:/etc/kubernetes
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /var/run/docker.sock:/var/run/docker.sock
  nfs:
    image: itsthenetwork/nfs-server-alpine
    restart: always
    privileged: true
    tty: true
    network_mode: host
    environment:
      - SHARED_DIRECTORY=/srv
    volumes:
      - nfsdata:/srv
  slate:
    depends_on:
      - kube
    build:
      context: slate/
    environment:
      - SLATE_allowAdHocApps=true
    restart: always
    command: /bin/sh -c 'set -e; trap "exit 0;" TERM INT; while true; do sleep 1d; done & wait'
    stdin_open: true
    tty: true
    privileged: true
    network_mode: host
    volumes:
      - kubernetes:/etc/kubernetes
# {VOLUMES}
volumes:
  kubernetes:
  nfsdata:
