version: '3.1'
services:
  kube:
    image: rancher/k3s:v1.19.5-k3s1-amd64
    restart: always
    tty: true
    privileged: true
    command: server --https-listen-port 6443 --kube-apiserver-arg service-node-port-range=30000-30100
    volumes:
      - /lib/modules:/lib/modules
      - kubernetes:/etc/rancher
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    ports:
      - 30000-30100:30000-30100
# {PORTS}
  slate:
    depends_on:
      - kube
    build:
      context: slate/
    environment:
      - SLATE_allowAdHocApps=true
      - TOKEN=# {TOKEN}
      - ENDPOINT=# {ENDPOINT}
      - CLUSTERNAME=# {CLUSTERNAME}
      - CLUSTERGROUP=# {CLUSTERGROUP}
    restart: always
    command: /bin/sh -c 'set -e; trap "exit 0;" TERM INT; while true; do sleep 1d; done & wait'
    stdin_open: true
    tty: true
    volumes:
      - kubernetes:/etc/rancher
# {VOLUMES}
    ports:
      - 5000:5000
      - 5100:5100
      - 18080:18080
volumes:
  kubernetes:
  nfsdata:
