version: '3.1'
services:
  kube:
    image: rancher/k3s:latest
    restart: always
    tty: true
    privileged: true
    command: server --https-listen-port 6443
    network_mode: host
    cap_add:
      - ALL
    volumes:
      - /lib/modules:/lib/modules
      - kubernetes:/etc/rancher
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  slate:
    depends_on:
      - kube
    image: slateci/slatelite
    environment:
      - SLATE_allowAdHocApps=true
      - TOKEN=# {TOKEN}
      - ENDPOINT=# {ENDPOINT}
      - CLUSTERNAME=# {CLUSTERNAME}
      - CLUSTERGROUP=# {CLUSTERGROUP}
    restart: always
    command: /bin/sh -c 'set -e; trap "exit 0;" TERM INT; while true; do sleep 1d; done & wait'
    stdin_open: true
    tty: true
    network_mode: host
    volumes:
      - kubernetes:/etc/rancher
# {VOLUMES}
volumes:
  kubernetes:
  nfsdata:
